* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */

.header {
  background-color: #fcfcff;
  padding: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
}

.nav-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-header-span {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  line-height: 150%;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #404bbf;
}

.address-head {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-list li:last-child {
  margin-right: 0;
}

.email-and-tel {
  font-weight: 400;
  line-height: 150%;
  color: #434455;
  white-space: nowrap;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-and-tel:hover,
.email-and-tel:focus {
  color: #404bbf;
}

/* end-header */

/* section-effective */

.section-one {
  background-color: #2e2f42;
  background-size: cover;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 188px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-one-h-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  text-align: center;
  color: #fff;
  margin: 0 auto 48px auto;
  max-width: 496px;
}

.button-servise {
  display: block;
  min-width: 169px;
  margin: auto;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-servise:hover,
.button-servise:active,
.button-servise:focus {
  color: #404bbf;
}

/* end-section-effective */

/* section-priciplec */

.principles {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.principles-list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.principles-item {
  width: calc((100% - 72px) / 4);
}

.container-icon {
  width: 100%;
  height: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  height: 112px;
}

.icon-principles {
  /* поки що цей клас не треба, все працює без нього   */
}

.principles-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.principles-p {
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* end-section-priciplec */

/* section-team */

.team {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.our-team-title {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.our-team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-info {
  padding: 32px 0;
}

.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-role {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-bottom: 8px;
}

.our-team-icon-svg-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.our-team-icon-svg-container-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.our-team-icon-svg {
  fill: #f4f4fd;
}

/* end-section-team */

/* section-portfolio */

.portfolio-section {
  padding: 120px 0;
}

.portfolio {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-top: 22px;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  padding-bottom: 120px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-overlay-box {
  position: relative;
  overflow: hidden;
}

.portfolio-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
}

.portfolio-item:hover .portfolio-item-overlay,
.portfolio-item:active .portfolio-item-overlay {
  transform: translateY(0);
}

.portfolio-item:hover,
.portfolio-item:active {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/* end-section-portfolio */

/* end-main */

/* section-footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-list-container {
  max-width: 264px;
  margin-right: 120px;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-span {
  color: #f4f4fd;
}

.footer-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-p-social {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}
/*  */
.footer-icon-svg-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-icon-svg-container-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

/* end-section-footer */
